/* General reset and styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #1e2a47; /* Dark blue background */
    color: #e6f1ff; /* Light blue text for contrast */
    line-height: 1.6;
  }
  
  /* Container for the entire page */
  .container {
    margin: 0 250px;
  }
  
  /* Header and navigation */
  header {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #e6f1ff;
    font-size: 14px;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    color: #a1c4fd;
  }
  
  /* Intro Section */
  #intro {
    margin-top: 200px;
    text-align: left;
  }
  
  #intro h1 {
    font-size: 3em;
  }
  
  #intro h2 {
    font-size: 2em;
    font-weight: 300;
  }
  
  #intro p {
    font-size: 1.2em;
    margin-top: 10px;
    max-width: 600px;
    word-wrap: break-word;
    line-height: 1.5;
  }
  
  /* Works Section */
  #works {
    margin-top: 200px;
  }

  .work-container {
    font-size: 24px;

  }

.work-sections-container {
    display: flex;
    justify-content: space-between; 
    gap: 30px; 
    margin-top: 20px;
  }
  
  .work-section {
    width: 48%; /* Adjusts the width of each section */
  }
  
  .work-box {
    background-color: #2a3d6e;
    padding: 10px;
    border-radius: 8px;
  }

  .work-box h3 {

    margin-top: 2px;
  }
  
  .work-box p {
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  
  /* Skills Section */
  #skills {
    margin-top: 100px;
  }
  
  .skills-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .skills-container h3 {

    font-size: 24px;
  }
  
  .skills-menu {
    display: flex;
  }
  
  .tab-button {
    background-color: #2a3d6e;
    color: #e6f1ff;
    border: none;
    padding: 10px;
    margin-right: 10px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 1.1em;
    border-radius: 5px;
  }
  
  .tab-button:hover {
    background-color: #1d2b52;
  }

  .tab-button.selected {
    background-color: #1d2b52; /* Mismo color que el hover */
  }
  
  .skills-content {
    margin-top: 20px;
    width: 100%;
  }
  
  .skill-list {
    display: none;
  }
  
  .skill-list ul {
    list-style-type: none;
  }
  
  .skill-list li {
    font-size: 1.1em;
    margin-bottom: 10px;
  }
  
  .skill-list h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  /* Contact Section */
  #contact {
    margin-top: 50px;
  }
  
  #contact h3 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  #contact ul {
    list-style-type: none;
  }
  
  #contact ul li {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  #contact a {
    color: #a1c4fd;
    text-decoration: none;
  }
  
  #contact a:hover {
    text-decoration: underline;
  }
  